<h1>Mastermind</h1>
<div class="row">
    <div class="card card-primary col-lg-4">
        <div class="card-heading">Drag counters</div>
        <div class="card-body">
            <span *ngFor="let item of src">
                <span>
                    <img src={{item.filePath}} id={{item.id}} draggable="true" (ondragstart)="onDragStart($event)">
                </span>
            </span>
        </div>
    </div>
</div>
<br/>
<div class="row">
    <div class="card card-primary col-lg-4">
        <div class="card-heading">Target</div>
        <div class="card-body">
            <span *ngFor="let item of target">
                <span>
                    <img src={{item.filePath}} id={{item.id}} class="dropbox" (onDrop)="onDrop($event)" (ondragover)="onDragOver($event)">
                </span>
            </span>
        </div>
    </div>
</div>
<br/>
<br/>
<div class="table table-striped">
    <thead>
        <th colspan="4">Guess</th>
        <th>
            <img src="{{greenTick}}">
        </th>
        <th>
            <img src="{{amberTick}}">
        </th>
    </thead>
    <tbody>
        <tr *ngFor="let aguess of prevGuesses">
            <td *ngFor="let i of aguess.srcIndexes">
                <img src="{{src[i].filePath}}">
            </td>
            <td>{{aguess.redCount}}</td>
            <td>{{aguess.whiteCount}}</td>
        </tr>
    </tbody>
</div>
<br/>
<div *ngIf="gameComplete">
<span *ngFor="let item of solution">
    <span>
        <img src="{{item}}" class="dropbox">
    </span>
</span>
</div>
<div *ngIf="playerHasWon">You win!</div>
<div *ngIf="playerHasLost">You lose!</div>
<br/>
<div class="card card-primary col-lg-4">
    
    <button class="btn-primary" [disabled]="guessComplete()" (click)="checkGuess($event)">Check
        <span class="glyphicon glyphicon-star" ></span>
    </button>
    <button class="btn-primary" (click)="newGame()">New Game
        <span class="glyphicon glyphicon-star" ></span>
    </button>
</div>