.dropbox
{
    width: 40px;
    height: 40px;
    padding: 5px;
    border: 1px solid #aaaaaa;
}
.well
{
    padding: 5px;
    border: 1px solid #aaaaaa;
}

label > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
  }
  label > input + img{ /* IMAGE STYLES */
    cursor:pointer;
    border:2px solid transparent;
  }
  label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
    border:2px solid #f00;
  }